<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Message app</title>
    <meta name="description" content="Post messages">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
    
    <script src="app.js"></script>

</head>

<body ng-app="app">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container" class="col-md-12" ng-controller="MessageController">
        <h1 class="jumbotron">Message app</h1>
        <div class="row">
            <div class="col-md-6 ">
                <h2>Post messages</h2>
                <form>
                    <div class="col-md-6 mb-4">
                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" type="username" ng-model="message.username">
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <input class="form-control" type="textarea" ng-model="message.message">
                        </div>
                        <button type="button" class="btn btn-primary mt-4 mb-4" ng-click="submit()">Post</button>
                    </div>
            </form>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <h2 class="jumbotron">Messages</h2>
                    <div class="card mb-3 shadow bg-light" ng-repeat="message in messages">
                        <div class="card-body" >
                            <h3 class="card-title" ng-bind="message.username"></h3>
                            <small class="card-subtitle text-muted" ng-bind="message.creationTime"></small>
                            <p class="card-text" ng-bind="message.message"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>